<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to our website!</h1>
    <p>Learn more about our services or get in touch with us.</p>
  </body>
</html>
